<div>
    <h2>Welcome NCAA wrestling fans! Is your favorite college on the Sweet 16 roster? </h2>
</div>

<!-- Loop over NCAA Division 1 colleges -->
{{#each colleges as |college| }}
<div class="row mb-4 post">
    <div class="col-md-5">
        <h2>
            
        </h2>
    </div>
</div>